<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<section>
    <h1>Contact </h1>
 <div id="Contactdivtop">

      <div class="row">
      <div class="col-lg-4">
        <div class="contact-grid-agile-w31" id="contact_form">
            <i class="fa fa-map-marker"  aria-hidden="true"></i>
            <h4>Address</h4>
            <p>Unnamed Road,<br> Kelawade, Maharashtra 412205, Pune-Bangalore Highway,Kelawade, Pune-412213, Maharashtra, India</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="contact-grid-agile-w32" id="contact_form">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <h4>Call Me</h4>
            <p>+91-9975730983<span>+91-9975410597 </span><br><br></p>
        </div>   
    </div>
    <div class="col-lg-4">
        <div class="contact-grid-agile-w33" id="contact_form">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <h4>Email</h4>
            <p><a href="poojakonde30@gmail.com"><p style="color: white;">poojakonde30@gmail.com</p></a><span><a href="mailto:contact@etetechnosoft.com"><br><br></a></span><br></p>
        </div>    
    </div>
    </div>
</div>

</section>


